
h1 {
    text-align: center;
    color: black;
}

form {
    margin-bottom: 20px;
    text-align: center;
    padding-top: 50px;
}

.form-group label,
.form-group input{
    font-size: 15px;
    margin-bottom: 10px;  
}

.form-group input {
    padding: 10px;
}

.submit-button {
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
}

.box {
    float: left;
    width: 26%;
    height: 70vh;
    border: 1px;
    background-color: green;
    padding-left: 10px;
    margin-right: 20px;
    
}

.complete-info-box {
    float: right;
    background-color: red;
    width: 70%;
    height: 70vh;
}

h2 {
    text-align: center;
}


li footer {
    margin-left: 10px;
    display: in-line-block;

}

li footer::before {
    content: "-";
    margin-right: 5px;
}

.delete-button {
    font-size: 16px;
    padding: 5px;
    float: right;
}