
h1 {
    text-align: center;
    color: black;
    font-size: 50px;
}

form {
    margin-bottom: 20px;
    text-align: center;
    padding-top: 50px;
}

.form-group label,
.form-group input{
    font-size: 15px;
    margin-bottom: 10px;  
}

.form-group input {
    padding: 10px;
}

.submit-button {
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
}

.box {
    float: left;
    width: 26%;
    height: 70vh;
    border: 1px;
    background-color: green;
    padding-left: 10px;
    margin-right: 20px;
    
}

.complete-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    float: right;
    background-color: red;
    width: 70%;
    height: 70vh;  
}


h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

.complete-info-box h3 {
    font-size: 25px;
    text-align: center;
}

.complete-info-box img {
    height: 250px;
    width: 250px;
    display: block;
    margin: 0 auto;
}

.music-button {
    display: block;
    margin-top: -65px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    transform: scale(2);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

li {
    cursor: pointer;
}

li:hover {
    background-color: #eee;
}

li footer {
    margin-left: 10px;
    margin-bottom: 10px;
    display: in-line-block;

}

li footer::before {
    content: "-";
    margin-right: 5px;
}

.delete-button {
    background-color: transparent;
    border: none;
    font-size: 15px;
    padding: 5px;
    float: right;
    margin-top: -40px;
    cursor: pointer;
}