* {
    font-family: arial;
}

body {
    background-image: linear-gradient(45deg, lightblue,orange,#dc143c);
    background-size: 400% 400%;
    animation: gradient 5s linear infinite;
    animation-direction: alternate;
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%;}
}

h1 {
    text-align: center;
    color: black;
    font-size: 50px;
}

form {
    display: none;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 10px;
}

.form-group label,
.form-group input{
    font-size: 15px;
    margin-bottom: 10px;  
    padding: 10px;
    background: transparent;
    color: black;
}

::placeholder{
    color: black;
    opacity: 1;
}

.form-group input:focus{
    background: black;
    color: white;
}

.submit-button {
    font-size: 20px;
    background: transparent;
    border-color: black;
    cursor: pointer;
}

.submit-button:hover {
    background-color: black;
    color: white;
}

.button-toggle-container{
    text-align: center;
    padding-bottom: 10px;
}

.toggle-form-button{
    font-size: 20px;
    background-color: transparent;
    border-color: black;
    cursor: pointer;
    padding: 5px;
}

.toggle-form-button:hover {
    background-color: black;
    color: white;
}

.sort-container {
    background: transparent;
    margin-left: 85px;
}

#sort-by {
    cursor: pointer;
    background: transparent;
}

select {
    background: transparent;
}

.container {
    display: flex;
    align-items: center;
}

.scroller {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 200px;
    height: 400px;
    background-color: transparent;
}

::-webkit-scrollbar {
     width: 10px;
     height: 10px;
}
    
::-webkit-scrollbar-thumb {
    background: lightskyblue;
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive{
    background: none;
}

::-webkit-scrollbar-track {
    box-shadow: none;
}


.box {
    float: left;
    width: 26%;
    height: 70vh;
    border: 1px;
    
    padding-left: 10px;
    margin-right: 20px;
    
}

.complete-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    float: right;

    width: 70%;
    height: 70vh;  
}


h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

.complete-info-box h3 {
    font-size: 25px;
    text-align: center;
    animation: fadein 2s;
}

.complete-info-box img {
    height: 250px;
    width: 250px;
    display: block;
    margin: 0 auto;
    animation: fadein 2s;
    border: 2px solid black;
    box-shadow: none;
}

.music-button {
    display: block;
    margin-top: -65px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    transform: scale(4);
    background-color: transparent;
    border: none;
    cursor: pointer;
    animation: fadein 2s;
}

.music-button:active {
    transform: scale(4) translateY(5px);
    animation: fadein 2s;
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

li {
    cursor: pointer;
    margin-bottom: 10px;
}

li:hover {
    background: black;
    color: white;
}

.delete-button {
    background-color: transparent;
    border: none;
    font-size: 15px;
    padding: 5px;
    float: right;
    margin-top: -5px;
    cursor: pointer;
}